@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #2d2d2d;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    /* 全体メトリクス */
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    /* アニメーション設定 */
    transition: 0.2s;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* btn */
.nav_manu {
    display: none;
}

.hamburger {
    display: block;
    position: fixed;
    right: 51px;
    top: 51px;
    height: 35px;
    cursor: pointer;
    z-index: 999;
}

.hamburger span {
    background: #515151;
    display: block;
    width: 54px;
    height: 4px;
    position: relative;
    top: 15px;
    border-radius: 20px;
}

.hamburger span::before,
.hamburger span::after {
    content: "";
    background: #515151;
    display: block;
    width: 54px;
    height: 4px;
    position: absolute;
    transition: 0.3s;
    border-radius: 20px;
}

.hamburger span::before {
    bottom: 15px;
}
.hamburger span::after {
    top: 15px;
}
/* btn_open */
.open span {
    background: transparent;
}

.open span::before {
    bottom: 0px;
    transform: rotate(135deg);
}

.open span::after {
    top: 0px;
    transform: rotate(45deg);
}

/* menu */
.menu:hover {
    opacity: 0.5;
}
.nav_manu {
    position: fixed;
    background: #f2e4ea;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
}
.nav-top {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 3px;
}
.nav_wrap a {
    display: block;
}
.nav_wrap li {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
    border-bottom: rgba(45, 45, 45, 0.5) 1px solid;
    padding: 55px 0 15px 40px;
    box-sizing: border-box;
}
.nav_wrap span {
    font-size: 18px;
    color: #007598;
    padding-left: 14px;
}

/* line */
#ABOUT {
    position: relative;
}
.about_line {
    background: url(../image/about_line.png) repeat-y top left;
    height: 100%;
    width: 139px;
    position: absolute;
    top: 0;
    left: 0;
}
/* top */
.logo_img {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    width: 212px;
}
/* about me*/
.about_pic {
    position: relative;
    z-index: 7;
}
.me_pic {
    border-radius: 10px;
    width: 650px;
}
.about_wrap {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.about_detail {
    padding-left: 60px;
}
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

.title {
    font-family: "Noto Sans JP", sans-serif;
}

.title {
    color: #007598;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 20px;
}
.subtitle {
    color: #007598;
    font-size: 16px;
    font-weight: bold;
}
.myself {
    margin-top: 82px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1.7em;
}
.myself_text {
    margin-top: 10px;
    font-size: 23px;
    line-height: 2em;
}

/* story */
.fade_start {
    color: transparent;
    animation: flowsa 1.8s ease-out forwards;
}
@keyframes flowsa {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    transition-duration: 1.8s;
    transition-property: opacity, transform;
}
.scrollIn {
    opacity: 1;
    transform: translate(0, 0);
}

.story_left p {
    font-size: 18px;
    line-height: 2.1em;
}
.story_right p {
    font-size: 18px;
    line-height: 2.1em;
}
.strong {
    font-weight: bold;
    font-size: 20px;
}
.story_wrap {
    position: relative;
    max-width: 1000px;
    margin-top: 100px;
}
.story_wrap_right {
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-top: 100px;
}
.story_left {
    max-width: 650px;
    margin-left: 200px;
}
.story_right {
    max-width: 650px;
    margin-left: 200px;
}
.text_number01 {
    position: absolute;
    top: -50px;
    left: 12%;
}
.text_number02 {
    position: absolute;
    top: 7%;
    right: 15%;
}
.text_number03 {
    position: absolute;
    top: -30%;
    left: 15%;
}
.text_number04 {
    position: absolute;
    top: -11%;
    right: 9%;
}
.story_outline {
    padding-bottom: 65px;
}
/* 相談btn */
.outline {
    padding-bottom: 50px;
}
.icon {
    padding-left: 15px;
}
.contact_cta:hover {
    display: flex;
    justify-content: center;
    border: 1px solid #f26146;
    margin: 0 auto;
    width: 18%;
    background: #fff;
    color: #f26146;
    border-radius: 100px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: bold;
}
.contact_cta {
    display: flex;
    justify-content: center;
    border: 1px solid #f26146;
    width: 18%;
    margin: 0 auto;
    background: #f26146;
    color: #fff;
    border-radius: 100px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: bold;
}
/* footer */
.footer {
    padding: 65px 0 50px;
    text-align: center;
    border-top: 1px solid rgba(45, 45, 45, 0.5);
}
@media screen and (max-width: 1250px) {
    .story_right {
        margin-left: 230px;
    }
    .text_number02 {
        right: 12%;
    }
}
@media screen and (max-width: 1160px) {
    .story_right {
        margin-left: 270px;
    }
    .story_left p {
        font-size: 16px;
    }
    .story_right p {
        font-size: 16px;
    }
    .strong {
        font-size: 16.5px;
    }
    .about_detail {
        padding-left: 25px;
    }
    .title {
        font-size: 50px;
    }
    .myself {
        font-size: 28px;
    }
    .myself_text {
        font-size: 19px;
    }
}
@media screen and (max-width: 1089px) {
    .title {
        font-size: 45px;
    }
}
@media screen and (max-width: 1060px) {
    .story_left {
        max-width: 500px;
        margin-left: 140px;
    }
    .story_right {
        max-width: 530px;
        margin-left: 340px;
    }
    .me_pic {
        width: 620px;
    }
    .about_detail {
        padding-left: 30px;
    }
}
@media screen and (max-width: 990px) {
    /* hambuger menu */
    .hamburger {
        right: 5%;
        top: 3%;
        height: 35px;
    }
    .hamburger span {
        width: 40px;
        height: 2px;
        top: 17px;
    }
    .hamburger span::before,
    .hamburger span::after {
        content: "";
        width: 40px;
        height: 2px;
    }
    .hamburger span::before {
        bottom: 13px;
    }
    .hamburger span::after {
        top: 13px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        bottom: 0px;
        transform: rotate(135deg);
    }
    .open span::after {
        top: 0px;
        transform: rotate(45deg);
    }
    .nav-top {
        max-width: 767px;
        font-size: 30px;
        margin-bottom: 38px;
    }
    .nav_wrap li {
        max-width: 767px;
        font-size: 20px;
        padding: 40px 0 20px 20px;
    }
    .nav_wrap span {
        font-size: 16px;
    }
    .scroll {
        bottom: 0;
        right: 10%;
    }
    /* top_page */
    .logo_img {
        max-width: 121px;
        margin-bottom: 18px;
        padding-top: 28px;
    }
    .title {
        font-size: 40px;
    }
    .me_pic {
        width: 570px;
    }
    .story_right {
        max-width: 500px;
    }
    .about_wrap {
        margin-top: 60px;
    }
    .story_wrap,
    .story_wrap_right {
        margin-top: 85px;
        margin-right: 20px;
    }
    .text_number01,
    .text_number02,
    .text_number03,
    .text_number04 {
        width: 20%;
    }
    .text_number01 {
        left: 14%;
    }
    .text_number03 {
        top: -20%;
    }
}
@media screen and (max-width: 940px) {
    .story_right {
        max-width: 450px;
        margin-left: 350px;
    }
}
@media screen and (max-width: 913px) {
    .me_pic {
        width: 536px;
    }
}
@media screen and (max-width: 873px) {
    .myself {
        font-size: 26px;
    }
    .me_pic {
        width: 515px;
    }
}
@media screen and (max-width: 850px) {
    .story_right {
        margin-left: 322px;
    }
    .story_wrap_right {
        margin-top: 60px;
    }
    .contact_cta {
        max-width: 767px;
        margin: 0 auto;
        width: 24%;
        font-size: 16px;
    }
    .contact_cta:hover {
        max-width: 767px;
        margin: 0 auto;
        width: 24%;
        font-size: 16px;
    }
    .title {
        font-size: 34px;
    }
    .myself {
        margin-top: 65px;
        font-size: 22px;
    }
    .myself_text {
        font-size: 16px;
    }
}
@media screen and (max-width: 798px) {
    .story_wrap {
        max-width: 767px;
    }
    .story_left {
        margin-left: 115px;
    }
    .story_left,
    .story_right {
        max-width: 400px;
    }
}
@media screen and (max-width: 767px) {
    .about_pic {
        width: 54%;
    }
    .title {
        margin-top: 0;
        font-size: 22px;
    }
    .myself {
        margin-top: 40px;
    }
    .story_right {
        margin-left: 296px;
    }
}
@media screen and (max-width: 716px) {
    .text_number01 {
        top: -25px;
        left: 18%;
    }
    .text_number03 {
        top: 17%;
        left: 46%;
    }
    .text_number04 {
        top: 14%;
    }
    .story_wrap,
    .story_wrap_right {
        margin-top: 45px;
    }
    .story_left {
        max-width: 300px;
        margin-left: 50px;
    }
    .myself {
        margin-top: 30px;
        font-size: 20px;
        line-height: 1.3em;
    }
    .myself_text {
        line-height: 1.3em;
        font-size: 15px;
    }
    .about_detail {
        padding-left: 18px;
    }
    .subtitle {
        font-size: 13px;
    }
}
@media screen and (max-width: 550px) {
    .story_right {
        margin-left: 198px;
    }
    .story_left {
        max-width: 300px;
        margin-right: 52px;
    }
    .contact_cta,
    .contact_cta:hover {
        width: 33%;
    }
    .icon {
        padding-left: 12px;
    }
}
@media screen and (max-width: 490px) {
    .about_pic {
        width: 55%;
        padding-left: 10px;
    }
    .myself {
        margin-top: 13px;
        font-size: 14px;
    }
    .myself_text {
        font-size: 13px;
        margin-top: 6px;
    }
    .story_left p,
    .story_right p {
        font-size: 14px;
        line-height: 1.9em;
    }
    .strong {
        font-size: 14.5px;
    }
    .story_left {
        margin-left: 20px;
    }
    .story_right {
        margin-left: 80px;
    }
    .text_number01 {
        top: -20px;
        left: 36%;
        width: 25%;
    }
    .text_number02 {
        right: 4%;
        top: 10%;
        width: 25%;
    }
    .text_number03 {
        left: 27%;
        top: -11%;
        width: 25%;
    }
    .text_number04 {
        top: 3%;
        right: 1%;
        width: 25%;
    }
}
@media screen and (max-width: 376px) {
    .text_number04 {
        top: 15%;
    }
}
