@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #2d2d2d;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    /* 全体メトリクス */
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    /* アニメーション設定 */
    transition: 0.2s;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* btn */
.nav_manu {
    display: none;
}

.hamburger {
    display: block;
    position: fixed;
    right: 51px;
    top: 51px;
    height: 35px;
    cursor: pointer;
    z-index: 999;
}

.hamburger span {
    background: #515151;
    display: block;
    width: 54px;
    height: 4px;
    position: relative;
    top: 15px;
    border-radius: 20px;
}

.hamburger span::before,
.hamburger span::after {
    content: "";
    background: #515151;
    display: block;
    width: 54px;
    height: 4px;
    position: absolute;
    transition: 0.3s;
    border-radius: 20px;
}

.hamburger span::before {
    bottom: 15px;
}
.hamburger span::after {
    top: 15px;
}
/* btn_open */
.open span {
    background: transparent;
}

.open span::before {
    bottom: 0px;
    transform: rotate(135deg);
}

.open span::after {
    top: 0px;
    transform: rotate(45deg);
}

/* menu */
.menu:hover {
    opacity: 0.5;
}
.nav_manu {
    position: fixed;
    background: #f2e4ea;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
}
.nav-top {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 3px;
}
.nav_wrap a {
    display: block;
}
.nav_wrap li {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
    border-bottom: rgba(45, 45, 45, 0.5) 1px solid;
    padding: 55px 0 15px 40px;
    box-sizing: border-box;
}
.nav_wrap span {
    font-size: 18px;
    color: #007598;
    padding-left: 14px;
}

/* top */
.logo {
    margin: 0 auto;
    width: 203px;
    padding: 40px 0 65px;
}
/* contact-text */
.title,
.subtitle {
    text-align: center;
    font-weight: bold;
    color: #007598;
}
.title {
    font-size: 40px;
}
.subtitle {
    font-size: 16px;
    margin-bottom: 80px;
}
.info_text {
    max-width: 800px;
    margin: 0 auto;
    width: 80%;
    text-align: left;
    font-size: 18px;
    line-height: 1.7em;
    padding-bottom: 20px;
}
.wrap_wrap {
    max-width: 800px;
    margin: 0 auto;
    width: 80%;
    text-align: left;
    font-size: 18px;
    line-height: 1.7em;
    padding-bottom: 8px;
}
.insta_wrap {
    max-width: 800px;
    margin: 0 auto;
    width: 80%;
    text-align: left;
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
    padding: 10px 0 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.insta_wrap a {
    display: inline-block;
}
.insta_color:hover {
    display: inline-block;
    background: linear-gradient(
        45deg,
        #4c64d3 0%,
        #cf2e92 50%,
        #f26939 70%,
        #ffdd83 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-brands,
.fa-instagram {
    padding-top: 5px;
}
.insta_left {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 15px;
}
/* よくある質問 */
.puestion {
    position: relative;
    top: 80%;
    max-width: 800px;
    width: 80%;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    z-index: 4;
}
.question_wrap:hover {
    display: block;
    color: #007598;
    opacity: 0.5;
}
/* 一覧戻る btn */
.back {
    padding-left: 15px;
}
.back_btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid rgba(45, 45, 45, 0.5);
    max-width: 227px;
    border-radius: 100px;
    padding: 18px 0;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}
.back_btn:hover {
    opacity: 0.7;
}

/* contact_main */
.wave-top {
    position: relative;
    left: 0;
    top: 70%;
    width: 100%;
    margin-top: -20px;
    margin-bottom: -1px;
    height: 25vh;
}
.wave-under {
    width: 100%;
    height: 21vh;
    margin-top: -25px;
}
.back_color {
    background: #f4d7e5;
}
/* contact form */
.contactform {
    max-width: 600px;
    margin: 0 auto;
}
.contactform li {
    padding: 10px 0 17px;
}
.form_text {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}
.contactform p {
    margin-top: 10px;
}
.must {
    border: 1px #007598 solid;
    background: rgba(0, 117, 172, 0.9);
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
    margin-left: 10px;
}
.box_wrap {
    border: 1px #fff solid;
    width: 100%;
    height: 60px;
}
.text_box {
    border: 1px #fff solid;
    width: 100%;
    height: 200px;
}
#label,
#maii,
#comment {
    font-size: 16px;
}
.post_btn {
    border: 1px solid #f26146;
    display: flex;
    margin: 0 auto;
    background: #f26146;
    color: #fff;
    border-radius: 100px;
    padding: 18px 35px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    position: relative;
    z-index: 11;
}
.post_btn:hover {
    border: 1px solid #f26146;
    display: flex;
    margin: 0 auto;
    background: #fff;
    color: #f26146;
    border-radius: 100px;
    padding: 18px 35px;
    font-size: 20px;
    text-align: center;

    font-weight: bold;
    margin-top: 50px;
    position: relative;
    z-index: 11;
}

/* footer */
.footer {
    margin-top: 65px;
    padding: 25px 0 50px;
    text-align: center;
    border-top: 1px solid rgba(45, 45, 45, 0.5);
}
@media screen and (max-width: 767px) {
    /* hambuger menu */
    .hamburger {
        right: 5%;
        top: 3%;
        height: 35px;
    }
    .hamburger span {
        width: 40px;
        height: 2px;
        top: 17px;
    }
    .hamburger span::before,
    .hamburger span::after {
        content: "";
        width: 40px;
        height: 2px;
    }
    .hamburger span::before {
        bottom: 13px;
    }
    .hamburger span::after {
        top: 13px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        bottom: 0px;
        transform: rotate(135deg);
    }

    .open span::after {
        top: 0px;
        transform: rotate(45deg);
    }
    .nav-top {
        max-width: 767px;
        font-size: 30px;
        margin-bottom: 38px;
    }
    .nav_wrap li {
        max-width: 767px;
        font-size: 20px;
        padding: 40px 0 20px 20px;
    }
    .nav_wrap span {
        font-size: 16px;
    }
    .scroll {
        bottom: 0;
        right: 10%;
    }
    /* top_page */
    .logo {
        max-width: 121px;
        padding: 25px 0 50px;
    }
    .title {
        font-size: 35px;
    }
    .subtitle {
        margin-bottom: 55px;
    }
    .info_text {
        max-width: 670px;
        font-size: 16px;
        padding-bottom: 10px;
    }
    .wrap_wrap {
        max-width: 670px;
        width: 80%;
        font-size: 16px;
    }
    .insta_wrap {
        width: 80%;
        max-width: 670px;
        margin-bottom: 20px;
    }
    .puestion {
        max-width: 670px;
    }
    .contactform {
        padding: 0 20px;
    }
    .form_text {
        font-size: 16px;
    }
}

/* Thanks page */
.background {
    background: url(../image/contact.png) repeat-y top left;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.logo_detail {
    width: 165px;
    padding: 40px 0 50px;
}
.info_box {
    margin: 0 auto;
    max-width: 65%;
    border: double 5px #ee768e;
    background: #fff;
    border-radius: 10px;
    padding: 20px 50px;
    box-sizing: border-box;
}
.thanks_title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #007598;
    padding: 20px 0 5px;
}
.thanks_text {
    text-align: center;
    padding: 10px 0 50px;
    box-sizing: border-box;
}
.sp {
    display: none;
}
.text {
    line-height: 1.7em;
}
.insta_detail {
    padding-top: 10px;
    max-width: 62%;
    margin: 0 auto;
    text-align: right;
}
.fa-brands {
    font-size: 30px;
    padding-left: 5px;
}
.contact_btn {
    display: block;
    max-width: 42%;
    margin-top: 15px;
    text-align: center;
    border: 1px solid #f26146;
    background: #f26146;
    color: #fff;
    border-radius: 100px;
    padding: 18px;
    font-size: 18px;
    font-weight: bold;
}
.contact_btn:hover {
    text-align: center;
    border: 1px solid #f26146;
    background: #fff;
    color: #f26146;
    border-radius: 100px;
    padding: 18px;
    font-size: 18px;
    font-weight: bold;
}
.btn_icon {
    padding-left: 10px;
    box-sizing: border-box;
}
.thanks_btn {
    margin-top: 50px;
    padding-bottom: 30px;
}
.text_weight {
    font-weight: bold;
}
.btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid rgba(45, 45, 45, 0.5);
    max-width: 200px;
    border-radius: 100px;
    padding: 18px 0;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}
.btn:hover {
    opacity: 0.7;
}
.footer_detail {
    background: #fff;
    padding: 25px 0 60px;
    text-align: center;
    border-top: 1px solid rgba(45, 45, 45, 0.5);
}
@media screen and (max-width: 1086px) {
    .contact_btn {
        max-width: 50%;
    }
    .speace {
        display: none;
    }
}
@media screen and (max-width: 910px) {
    .contact_btn {
        max-width: 55%;
    }
}
@media screen and (max-width: 767px) {
    .logo_detail {
        width: 165px;
        padding: 30px 0 40px;
    }
    .thanks_title {
        font-size: 22px;
        padding: 0 5px;
        box-sizing: border-box;
    }
    .thanks_text {
        text-align: center;
        line-height: 1.5em;
        padding: 10px 5px 35px;
    }
    .sp {
        display: block;
    }
    .info_box {
        max-width: 90%;
        padding: 15px 25px;
        box-sizing: border-box;
    }
    .text {
        font-size: 15px;
    }
    .contact_btn {
        font-size: 16px;
        max-width: 100%;
        margin: 20px 0 5px;
    }
    .contact_btn:hover {
        font-size: 16px;
        max-width: 100%;
        margin: 20px 0 5px;
    }
    .insta_detail {
        max-width: 85%;
    }
    .btn {
        font-size: 16px;
    }
    .thanks_btn {
        margin-top: 60px;
    }
}
