@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #2d2d2d;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    /* 全体メトリクス */
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    /* アニメーション設定 */
    transition: 0.2s;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* btn */
.nav_manu {
    display: none;
}

.hamburger {
    display: block;
    position: fixed;
    right: 51px;
    top: 23px;
    height: 35px;
    cursor: pointer;
    z-index: 999;
}

.hamburger span {
    background: #515151;
    display: block;
    width: 54px;
    height: 4px;
    position: relative;
    top: 15px;
    border-radius: 20px;
}

.hamburger span::before,
.hamburger span::after {
    content: "";
    background: #515151;
    display: block;
    width: 54px;
    height: 4px;
    position: absolute;
    transition: 0.3s;
    border-radius: 20px;
}

.hamburger span::before {
    bottom: 15px;
}
.hamburger span::after {
    top: 15px;
}
/* btn_open */
.open span {
    background: transparent;
}

.open span::before {
    bottom: 0px;
    transform: rotate(135deg);
}

.open span::after {
    top: 0px;
    transform: rotate(45deg);
}

/* menu */
.menu:hover {
    opacity: 0.5;
}
.nav_manu {
    position: fixed;
    background: #f2e4ea;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
}
.nav_wrap {
    background: #f2e4ea;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
}
.nav-top {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 3px;
}
.nav_wrap a {
    display: block;
}
.nav_wrap li {
    max-width: 1000px;
    margin: 0 auto;
    width: 85%;
    font-size: 28px;
    font-weight: bold;
    border-bottom: rgba(45, 45, 45, 0.5) 1px solid;
    padding: 55px 0 15px 40px;
    box-sizing: border-box;
}
.nav_wrap span {
    font-size: 18px;
    color: #007598;
    padding-left: 14px;
}
/* scroll bar*/
.scroll {
    display: inline-block;
    position: absolute;
    right: 100px;
    bottom: 90px;
    z-index: 15;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: #2d2d2d;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    opacity: 1;
}
.scroll::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 38%;
    width: 1px;
    height: 100px;
    background: #2d2d2d;
}

.scroll::after {
    animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes sdl {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }
    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }
    50.1% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }
    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}
@media screen and (max-width: 767px) {
    /* hambuger menu */
    .hamburger {
        right: 5%;
        top: 1.5%;
        height: 35px;
    }
    .hamburger span {
        width: 40px;
        height: 2px;
        top: 17px;
    }
    .hamburger span::before,
    .hamburger span::after {
        content: "";
        width: 40px;
        height: 2px;
    }
    .hamburger span::before {
        bottom: 13px;
    }
    .hamburger span::after {
        top: 13px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        bottom: 0px;
        transform: rotate(135deg);
    }

    .open span::after {
        top: 0px;
        transform: rotate(45deg);
    }
    .nav-top {
        max-width: 767px;
        font-size: 30px;
        margin-bottom: 38px;
    }
    .nav_wrap li {
        max-width: 767px;
        font-size: 20px;
        padding: 40px 0 20px 20px;
    }
    .nav_wrap span {
        font-size: 16px;
    }
}
/* header */
.logo {
    max-width: 1000px;
    margin: 0 auto;
    width: 204px;
    margin-bottom: 8px;
    margin-top: 15px;
}
.TOP {
    display: block;
    text-align: center;
}
/* mein visual */
.topwrap {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 16;
    box-sizing: border-box;
}
.main_wrap {
    padding-top: 69px;
}
.topwrap p {
    color: #007598;
}
.main_text span {
    font-weight: bold;
    font-size: 45px;
    line-height: 1.58em;
    padding-top: 50px;
}
.fade {
    color: transparent;
    animation: blur 15s ease-out forwards;
}

.fade:nth-child(1) {
    /*一文字ずつ遅延させる*/
    animation-delay: 0s;
}
.fade:nth-child(2) {
    animation-delay: 0.1s;
}
.fade:nth-child(3) {
    animation-delay: 0.2s;
}
.fade:nth-child(4) {
    animation-delay: 0.3s;
}
.fade:nth-child(5) {
    animation-delay: 0.4s;
}
.fade:nth-child(6) {
    animation-delay: 0.5s;
}
.fade:nth-child(7) {
    animation-delay: 0.6s;
}
.fade:nth-child(8) {
    animation-delay: 0.7s;
}
.fade:nth-child(9) {
    animation-delay: 0.8s;
}
.fade:nth-child(10) {
    animation-delay: 0.9s;
}
.fade:nth-child(11) {
    animation-delay: 1s;
}
.fade:nth-child(12) {
    animation-delay: 1.1s;
}
.fade:nth-child(13) {
    animation-delay: 1.3s;
}
.fade:nth-child(14) {
    animation-delay: 1.4s;
}
.fade:nth-child(15) {
    animation-delay: 1.5s;
}
.fade:nth-child(16) {
    animation-delay: 1.6s;
}
@keyframes blur {
    0% {
        text-shadow: 0 0 100px #007598;
        opacity: 0;
    }
    1% {
        text-shadow: 0 0 90px #007598;
    }
    4% {
        opacity: 1;
    }
    9% {
        text-shadow: 0 0 0px #007598;
    }
    100% {
        text-shadow: 0 0 0px #007598;
        opacity: 1;
    }
}

.main_read {
    font-weight: lighter;
    font-size: 20px;
    line-height: 1.95em;
    position: relative;
    z-index: 17;
}
.fade_text {
    color: transparent;
    animation: flowing 5.4s ease-out;
}
@keyframes flowing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.sp {
    display: none;
}
.top_img {
    width: 55%;
    position: relative;
    z-index: 17;
}
@media screen and (max-width: 1905px) {
    .topwrap {
        padding-top: 4vh;
    }
}
@media screen and (max-width: 1500px) {
    .topwrap {
        padding-top: 0;
    }
}
@media screen and (max-width: 1130px) {
    .main_wrap {
        padding-left: 40px;
        padding-top: 69px;
    }
    .scroll {
        right: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .main_text span {
        font-size: 40px;
    }
    .main_read {
        font-size: 18px;
    }
}
@media screen and (max-width: 915px) {
    .scroll {
        bottom: 50%;
    }
}
@media screen and (max-width: 910px) {
    .main_text span {
        font-size: 38px;
    }
    .main_read {
        font-size: 16px;
    }
}
@media screen and (max-width: 850px) {
    .topwrap {
        margin-top: 45px;
    }
    .top_img {
        padding-top: 15px;
    }
    .scroll {
        bottom: 42%;
    }
}
@media screen and (max-width: 767px) {
    .hamburger span {
        width: 30px;
        height: 2px;
        top: 17px;
    }
    .hamburger span::before,
    .hamburger span::after {
        content: "";
        width: 30px;
        height: 2px;
    }

    /* top_page */
    .logo {
        max-width: 121px;
        margin-bottom: 18px;
        margin-top: 15px;
    }
    .scroll {
        bottom: 85px;
        font-size: 12px;
    }
    .scroll::after {
        content: "";
        position: absolute;
        bottom: 23%;
        height: 65px;
        left: 39%;
    }
    .topwrap {
        display: block;
        padding: 0 10px;
        max-width: 767px;
        margin: 0 auto;
        text-align: center;
    }
    .fade {
        color: transparent; /*各テキストにanimationを設定*/
        animation: blur 10s ease-out forwards;
    }
    .main_text {
        padding-top: 14px;
    }
    .main_text span {
        font-size: 25px;
        line-height: 1.35em;
    }
    .main_read {
        padding-top: 4px;
        line-height: 1.7em;
    }
    .main_wrap {
        padding-left: 0;
        padding-top: 0;
    }
    .sp {
        display: block;
    }
    .pc {
        display: none;
    }
    .top_img {
        padding-top: 0;
        width: 265px;
    }
    .backcolor {
        padding: 0 20px;
    }
}
/* service */
.waves {
    position: relative;
    left: 0;
    bottom: 15%;
    width: 100%;
    height: 150px;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
} /* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
.backcolor {
    background: #f4d7e5;
}
/*Shrinking for mobile*/
@media screen and (max-width: 767px) {
    .waves {
        min-height: 40px;
        max-height: 80px;
    }
}
/* service design */
.service_wrap {
    max-width: 1000px;
    padding-right: 24px;
    display: flex;
    margin: 0 auto;
    position: relative;
}
.service_detailwrap {
    flex-direction: column;
}
.title_wrap {
    opacity: 0;
    transition: opacity 4s;
    position: relative;
}
.title_wrap.view {
    opacity: 1;
}
.service_detail {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    margin-top: 50px;
}
/* /////service fadein ////*/
.fadeIn,
.fadeIn_time {
    opacity: 0;
    transition-duration: 1.8s;
    transition-property: opacity, transform;
}
.scrollIn {
    opacity: 1;
    transform: translate(0, 0);
}
/* ///////////////////////////////////// */
.shadow_logo {
    position: absolute;
    top: -108px;
    left: 0;
}
.service_img {
    margin-top: 20px;
}
/* service-text */
.text_wrap_pc {
    margin-top: 25px;
    width: 70%;
}
.text_wrap_sp {
    display: none;
}
.title,
.subtitle {
    text-align: center;
    font-weight: bold;
    color: #007598;
}
.title {
    padding-top: 80px;
    font-size: 35px;
}
.subtitle {
    font-size: 16px;
}
.text_service {
    font-size: 18px;
    font-weight: bold;
}
.text_01 {
    font-size: 18px;
    font-weight: bold;
}
.copy {
    font-size: 16px;
    line-height: 1.9em;
    margin-top: 20px;
}
.viewmore {
    color: #0bd;
}
.viewmore:hover {
    border: #717070 2px solid;
    color: rgb(5, 166, 195);
}

@media screen and (max-width: 767px) {
    .subtitle {
        font-size: 16px;
    }
    .wave-top {
        height: 20vh;
    }
    .shadow_logo {
        left: 31%;
        top: -14%;
        width: 72%;
    }
    .service_detailwrap {
        padding-top: 20px;
    }
    .service_wrap {
        display: flex;
        justify-content: center;
        max-width: 767px;
        padding: 0;
    }
    .service_detail {
        padding-left: 0;
    }
    .service_img {
        margin-top: 34px;
    }
    .service_pic {
        width: 110px;
    }
    .detail_speace {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }
    .detail_clum {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    /* service-text */
    .text_service {
        padding: 75px 0 5px 0;
        font-size: 25px;
    }
    .text_wrap_sp {
        display: block;
    }
    .text_wrap_pc {
        display: none;
    }
    .text_01 {
        font-size: 13px;
        line-height: 1.7em;
    }
}
@media screen and (max-width: 540px) {
    .shadow_logo {
        left: 22%;
        top: -13%;
        width: 72%;
    }
}
@media screen and (max-width: 420px) {
    .shadow_logo {
        left: 11%;
        top: -10%;
        width: 72%;
    }
}

/* work */
.wave-under {
    width: 100%;
    height: 37vh;
    margin-top: -100px;
}
.back_color {
    background: #f4d7e5;
}
.work {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 36px;
}
.title_padding {
    padding-top: 170px;
}
.work_logo {
    max-width: 1000px;
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media screen and (max-width: 767px) {
    .work {
        display: block;
        max-width: 767px;
        margin: 0 auto;
        align-items: center;
        position: relative;
    }
    .work_logo {
        width: 41%;
        bottom: -7px;
        right: -3px;
    }
    .wave-under {
        width: 100%;
        height: 27vh;
        margin-top: -75px;
    }
    .title_padding {
        padding-top: 53px;
    }
    .view_work {
        padding: 0 10px;
    }
}
/* slider */
.work_slider img {
    width: 415px;
    border-radius: 30px;
}
.work_slider {
    max-width: 1366px;
    margin: 0 auto;
}
.slick-prev:before,
.slick-next:before {
    font-size: 30px;
}
.slick-dots {
    bottom: -35px;
}
.slick-next {
    right: 13px;
}
.slick-prev {
    left: -35px;
    position: absolute;
    z-index: 10;
}
.work_pic:hover {
    display: block;
    opacity: 0.7;
}
.viewmore {
    max-width: 1366px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    width: 251px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 100px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
    z-index: 8;
}
.viewmore_work {
    padding-top: 70px;
}
@media screen and (max-width: 767px) {
    .work_slider {
        max-width: 767px;
        margin: 0 auto;
    }
    .slick-dots {
        bottom: -41px;
    }
    .slick-prev {
        left: 10px;
    }
    .slider_detail {
        margin-top: 20px;
    }
    .work_slider img {
        width: 100%;
        border-radius: 13px;
        height: auto;
        opacity: 0.3;
        transform: scale(0.8);
        transition: opacity 0.5s, transform 0.5s;
        width: 100%;
    }
    /* 中央のスライド */
    .slider_detail .slick-center img {
        opacity: 1;
        transform: scale(1);
    }
    .viewmore {
        max-width: 767px;
        margin: 0 auto;
        padding: 15px 20px;
        text-align: center;
        width: 220px;
        display: flex;
        font-size: 17px;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 19px;
    }
    /* btn */
    .viewmore_work {
        padding-top: 48px;
        max-width: 767px;
        margin: 0 auto;
        display: flex;
    }
}
/* be oneself */
.be_oneself {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 10px;
}
.oneself_wrap ul {
    display: flex;
    justify-content: center;
    margin-top: -110px;
}
.oneself_img {
    position: relative;
    top: -10px;
}
.woman_pic {
    margin-bottom: -80px;
}
.woman_conteiner {
    width: 55%;
}
.woman_text {
    font-size: 2.4vw;
    font-weight: bold;
    line-height: 1.58em;
    color: #007598;
    padding: 20px 0 0 50px;
}
/* //be onelife. fadetime// */
.fadeIn_time:nth-child(1) {
    animation-delay: 0s;
}
.fadeIn_time:nth-child(2) {
    animation-delay: 0.3s;
}
.fadeIn_time:nth-child(3) {
    animation-delay: 0.6s;
}

@media screen and (max-width: 1330px) {
    .woman_conteiner {
        width: 65%;
        padding-top: 10px;
    }
    .woman_text {
        font-size: 2.9vw;
    }
}
@media screen and (max-width: 1130px) {
    .woman_conteiner {
        padding-top: 25px;
    }
}
@media screen and (max-width: 1035px) {
    .woman_text {
        padding: 35px 0 0 50px;
    }
}

@media screen and (max-width: 850px) {
    .woman_text {
        padding: 40px 0 0 50px;
    }
}
@media screen and (max-width: 767px) {
    /* be oneself */
    .be_oneself {
        max-width: 767px;
    }
    .oneself_wrap ul {
        display: block;
        justify-content: center;
    }
    .oneself_img {
        width: 37%;
        top: -60px;
        left: 8%;
    }
    .woman_pic {
        padding-bottom: 0;
    }
    .woman_text {
        margin: 0 auto;
        text-align: center;
        font-size: 22px;
        line-height: 1.65em;
        padding: 6px;
    }
    .woman_conteiner {
        max-width: 767px;
        margin: 0 auto;
        width: 100%;
        padding-top: 0;
    }
}
/* about me */
.aboutme {
    background-color: rgba(0, 117, 152, 0.5);
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 50px;
    width: 90%;
}
.aboutme_wrap {
    display: flex;
    justify-content: center;
}
.aboutme_pc {
    width: 295px;
    margin-top: 69px;
}
.aboutme_sp {
    display: none;
}
.viewmore_about {
    display: flex;
    justify-content: center;
    padding: 35px 0 52px;
}

/* //-bound// */
.about {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-align: justify;
}

/* about me:text */
.about_wrap {
    margin-top: 96px;
    margin-left: 55px;
}
.about_sub {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.43em;
    color: #fff;
    text-align: justify;
}
.about_text {
    font-size: 23px;
    margin-top: 39px;
    color: #fff;
    text-align: justify;
}
.about_subtext {
    font-size: 18px;
    line-height: 1.6em;
    margin-top: 25px;
    font-weight: normal;
    color: #fff;
    text-align: justify;
}
@media screen and (max-width: 767px) {
    .aboutme_wrap {
        display: block;
    }
    .aboutme_pc {
        display: none;
    }
    .aboutme_sp {
        display: block;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
    }
    .viewmore_about {
        padding: 25px 0 50px;
    }

    /* about me:text */
    .about_wrap {
        margin-top: 0;
        margin-left: 0;
    }
    .about {
        text-align: center;
        font-size: 35px;
        padding-top: 40px;
        letter-spacing: 0;
    }
    .about_sub {
        line-height: 0;
        text-align: center;
        padding-top: 10px;
    }
    .about_text {
        max-width: 767px;
        width: 75%;
        margin: 0 auto;
        font-size: 25px;
        padding-top: 22px;
        text-align: left;
        line-height: 1.2em;
    }
    .about_subtext {
        max-width: 767px;
        width: 75%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.87em;
        padding-top: 20px;
        text-align: left;
    }
}
@media screen and (max-width: 450px) {
    .about_text {
        font-size: 20px;
        width: 77%;
    }
    .about_subtext {
        width: 78%;
    }
}
/* Q&A */
.QandA_wrap h2 {
    padding-top: 100px;
}
.QandA_sub {
    padding-top: 5px;
}
.QandA_wrap {
    margin: 0 30px;
}
.QandA_detail {
    display: block;
    text-align: left;
    padding-top: 27px;
    max-width: 550px;
    margin: 0 auto;
}
.QandA_conteiner {
    padding: 11px 0;
}
.turn {
    display: none;
}
.Q_text {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
.Q_img {
    vertical-align: middle;
    padding-right: 17px;
}
.a_text {
    font-size: 17px;
    line-height: 1.89em;
    margin-left: 52px;
    width: 82%;
    margin-bottom: 10px;
}
/* 基本の矢印削除 */
details summary {
    list-style: none;
    cursor: pointer;
}
details summary::-webkit-details-marker {
    display: none;
}

/* 矢印をプラスに変更 */
details[open] summary::before {
    /* 開いている時のCSSを記述 */
    content: "\f068";
}
details summary::before {
    font-family: FontAwesome;
    content: "\f067";
    margin-right: 20px;
    font-size: 1.5em;
    vertical-align: middle;
}
@media screen and (max-width: 767px) {
    /* Q&A */
    .QandA_wrap {
        text-align: center;
        margin: 0 15px;
    }
    .QandA_wrap h2 {
        padding-top: 40px;
    }
    .QandA_detail {
        padding-top: 20px;
    }
    .Q_img {
        padding-right: 10px;
    }
    .turn {
        display: block;
    }
    .Q_text {
        display: block;
        line-height: 1.5em;
    }
    .QandA_conteiner {
        display: flex;
        align-items: flex-start;
    }
    details summary::before {
        margin-right: 10px;
    }
    .a_text {
        font-size: 15px;
        line-height: 1.75em;
        margin-left: 30px;
    }
}
@media screen and (max-width: 375px) {
    .Q_text {
        font-size: 15px;
    }
    .Q_img {
        padding-right: 5px;
    }
    .Q_img {
        width: 11%;
    }
}
/* contact */
.title_contact {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #007598;
}
.contact_wave {
    width: 100%;
    height: 30vh;
    margin-bottom: -3px;
    padding-top: 15px;
}
.contactunder_wave {
    width: 100%;
    height: 45vh;
    margin-top: -20px;
}
.contact {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
/* contact text */
.request_text {
    font-size: 25px;
    font-weight: bold;
    padding: 35px 0 15px;
}
.request_sub {
    font-size: 18px;
    line-height: 1.75em;
    margin-bottom: 15px;
}
.viewmore_cta {
    border: 1px solid #f26146;
    background: #f26146;
    color: #fff;
    border-radius: 100px;
    padding: 20px 27px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 37px;
    z-index: 8;
}
.viewmore_cta:hover {
    border: 1px solid #f26146;
    background: #fff;
    color: #f26146;
    border-radius: 100px;
    padding: 20px 27px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 37px;
    z-index: 8;
}
@media screen and (max-width: 767px) {
    .contactunder_wave {
        height: 35vh;
    }
    .contact {
        max-width: 767px;
    }
    .contact_wave {
        height: 20vh;
    }
    /* contact text */
    .title_contact {
        margin-top: -4px;
    }
    .request_text {
        margin: 0 auto;
        max-width: 767px;
        width: 90%;
        font-size: 20px;
        text-align: center;
        padding: 20px 0 7px;
        line-height: 1.48em;
    }
    .request_sub {
        line-height: 1.9em;
        font-size: 16px;
        margin: 0 auto;
        max-width: 767px;
        width: 90%;
        text-align: center;
    }
    .viewmore_cta,
    .viewmore_cta:hover {
        padding: 20px 30px;
        top: 55px;
    }
}
/* footer */
#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 15px;
    bottom: 0;
    background: #019ecd;
    opacity: 0.6;
    border-radius: 50%;
}
#page_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}
#page_top a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f102";
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
.topbtn:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 767px) {
}
.footer {
    text-align: center;
    padding: 15px 0 50px;
    border-top: 1px rgba(45, 45, 45, 0.3) solid;
    margin-top: 40px;
    width: 100%;
}
