@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #2d2d2d;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    /* 全体メトリクス */
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    /* アニメーション設定 */
    transition: 0.2s;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* btn */
.nav_manu {
    display: none;
}

.hamburger {
    display: block;
    position: fixed;
    right: 51px;
    top: 30px;
    height: 35px;
    cursor: pointer;
    z-index: 999;
}

.hamburger span {
    background: #515151;
    display: block;
    width: 54px;
    height: 4px;
    position: relative;
    top: 15px;
    border-radius: 20px;
}

.hamburger span::before,
.hamburger span::after {
    content: "";
    background: #515151;
    display: block;
    width: 54px;
    height: 4px;
    position: absolute;
    transition: 0.3s;
    border-radius: 20px;
}

.hamburger span::before {
    bottom: 15px;
}
.hamburger span::after {
    top: 15px;
}
/* btn_open */
.open span {
    background: transparent;
}

.open span::before {
    bottom: 0px;
    transform: rotate(135deg);
}

.open span::after {
    top: 0px;
    transform: rotate(45deg);
}

/* menu */
.menu:hover {
    opacity: 0.5;
}
.nav_manu {
    position: fixed;
}
.nav_manu {
    position: fixed;
    background: #f2e4ea;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
}
.nav-top {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 3px;
}
.nav_wrap a {
    display: block;
}
.nav_wrap li {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
    border-bottom: rgba(45, 45, 45, 0.5) 1px solid;
    padding: 55px 0 15px 40px;
    box-sizing: border-box;
}
.nav_wrap span {
    font-size: 18px;
    color: #007598;
    padding-left: 14px;
}
/* view more pege! */
.logo_img a {
    display: block;
}
.logo_wrap {
    text-align: center;
    padding-top: 35px;
}
.logo_wrap img {
    width: 14%;
}
.view_more {
    height: 100vh;
    background: rgba(127, 127, 127, 0.8);
}
.view_moretext {
    text-align: center;
    padding: 200px 0;
    font-size: 25px;
    font-weight: 500;
}
.home_back_btn {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}
.back_tab {
    font-size: 17px;
    padding-left: 20px;
}
.copytab {
    text-align: center;
}
/* ////// */
/* line img */
#work {
    position: relative;
}
.work_line_lp {
    background: url(../image/company_line.png) repeat-y top left;
    height: 100%;
    width: 139px;
    position: absolute;
    top: 0;
    left: 0;
}
.work_line_cosme {
    background: url(../image/cosme_line.png) repeat-y top left;
    height: 100%;
    width: 139px;
    position: absolute;
    top: 0;
    left: 0;
}
.work_line_cafe {
    background: url(../image/cafe_line.png) repeat-y top left;
    height: 100%;
    width: 139px;
    position: absolute;
    top: 0;
    left: 0;
}
.work_line_camp {
    background: url(../image/outdoor_line.png) repeat-y top left;
    height: 100%;
    width: 139px;
    position: absolute;
    top: 0;
    left: 0;
}
.work_line_salon {
    background: url(../image/salon_line.png) repeat-y top left;
    height: 100%;
    width: 145px;
    position: absolute;
    top: 0;
    left: 0;
}
.work_line_school {
    background: url(../image/school_line.png) repeat-y top left;
    height: 100%;
    width: 145px;
    position: absolute;
    top: 0;
    left: 0;
}
/* main visual */
.work_visual {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 19px;
}
.work_detail {
    margin-top: 35px;
    text-align: center;
}
.work_pic {
    max-width: 65.5%;
}
/* work detail */
h2 {
    letter-spacing: 1.3px;
    max-width: 850px;
    margin: 0 auto;
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 5px 45px;
    box-sizing: border-box;
    border-bottom: #1e1e1e 2px solid;
}
h3 {
    letter-spacing: 1.3px;
    max-width: 850px;
    margin: 0 auto;
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    padding: 130px 0 5px 45px;
    box-sizing: border-box;
    border-bottom: #1e1e1e 2px solid;
}
.sub {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1.3px;
    padding-left: 5px;
}
.work_overview {
    margin-left: 130px;
}
.overview_wrap dl {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    width: 85%;
}
.overview_wrap dt {
    font-size: 18px;
    font-weight: bold;
    width: 32%;
    padding: 15px 0 15px 45px;
    box-sizing: border-box;
    border-bottom: #1e1e1e 1px solid;
}
.overview_wrap dd {
    font-size: 18px;
    font-weight: normal;
    width: 68%;
    border-bottom: #1e1e1e 1px solid;
    padding: 15px 0;
}
.important_work {
    padding-left: 50px;
    font-size: 14px;
    font-weight: lighter;
}
/* point */
.text_detail {
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
    padding: 15px 0 40px;
    box-sizing: border-box;
}
.text {
    font-size: 18px;
    line-height: 1.72em;
}
/* lp/cafeページで切り替え */
.capture_outline {
    margin-bottom: 50px;
    padding: 25px 0 5px 45px;
}
.capture_bottom ul {
    display: flex;
    justify-content: space-around;
}
.lp_pc {
    max-width: 475px;
}
.lp_sp {
    max-width: 376px;
}

/* salonページで切り替え */
.capture_pic {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.salon_pic {
    max-width: 65%;
}
.bold {
    font-weight: bold;
}
/* home_back */
.home_back {
    margin: 0 auto;
    border: 1px solid rgba(45, 45, 45, 0.5);
    max-width: 282px;
    border-radius: 100px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
}
.btn {
    padding: 40px 0 60px;
}
.back {
    padding-left: 15px;
}
/* contact */
.contact_wrap {
    width: 100%;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    background: #fff;
    border-top: 1px rgba(45, 45, 45, 0.3) solid;
    position: relative;
    z-index: 3;
}
.request_text {
    font-size: 30px;
    font-weight: bold;
    padding: 45px 0 20px;
}
.request_sub {
    font-size: 20px;
    line-height: 1.75em;
}
.importent {
    font-size: 15px;
    line-height: 2.5em;
}
.contact {
    display: flex;
    justify-content: center;
    margin-top: 56px;
}
.contact_cta:hover {
    display: flex;
    text-align: center;
    border: 1px solid #f26146;
    margin: 0 auto;
    max-width: 28.8%;
    background: #fff;
    color: #f26146;
    border-radius: 100px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}
.contact_cta {
    display: flex;
    text-align: center;
    border: 1px solid #f26146;
    max-width: 28.8%;
    margin: 0 auto;
    background: #f26146;
    color: #fff;
    border-radius: 100px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}
/* footer */
.footer {
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 50px 0;
}
/* レスポンシブ */
@media screen and (max-width: 1125px) {
    .work_line_lp {
        background: url(../image/companyline_sp.png) repeat-y top left;
    }
    .work_line_cosme {
        background: url(../image/cosmeline_sp.png) repeat-y top left;
    }
    .work_line_cafe {
        background: url(../image/cafeline_sp.png) repeat-y top left;
    }
    .work_line_camp {
        background: url(../image/outdoorline_sp.png) repeat-y top left;
    }
    .work_line_salon {
        background: url(../image/salonline_sp.png) repeat-y top left;
    }
    .work_line_school {
        background: url(../image/schoolline_sp.png) repeat-y top left;
    }
    .work_pic {
        width: 63.5%;
        margin-left: 50px;
    }
    /* work detail */
    h2,
    h3 {
        font-size: 2.3vw;
    }
    .sub,
    .text,
    .overview_wrap dt,
    .overview_wrap dd,
    .home_back,
    .request_sub {
        font-size: 1.75vw;
    }
    .work_overview {
        margin-left: 45px;
    }
    .important_work,
    .importent {
        font-size: 1.4vw;
    }
    .capture_bottom {
        max-width: 800px;
        margin: 0 auto;
    }
    .lp_pc {
        max-width: 80%;
    }
    .lp_sp {
        max-width: 100%;
    }
}
@media screen and (max-width: 1050px) {
    .logo_wrap {
        text-align: center;
    }

    /* main visual */
    .logo_img img {
        width: 150px;
    }
    /* hambuger menu */
    .hamburger {
        right: 5%;
        top: 3%;
        height: 35px;
    }
    .hamburger span {
        width: 40px;
        height: 2px;
        top: 17px;
    }
    .hamburger span::before,
    .hamburger span::after {
        content: "";
        width: 40px;
        height: 2px;
    }
    .hamburger span::before {
        bottom: 13px;
    }
    .hamburger span::after {
        top: 13px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        bottom: 0px;
        transform: rotate(135deg);
    }
    .open span::after {
        top: 0px;
        transform: rotate(45deg);
    }
    .nav-top {
        max-width: 767px;
        font-size: 3.3vw;
        padding-top: 25px;
        margin-bottom: 50px;
    }
    .nav_wrap li {
        max-width: 767px;
        font-size: 2.4vw;
        padding: 40px 0 20px 20px;
    }
    .scroll {
        bottom: 0;
        right: 10%;
    }
    /* home_back */
    .home_back {
        max-width: 220px;
        padding: 15px 18px;
        font-size: 20px;
    }
    .btn {
        padding: 40px 10px 40px;
    }
    .back {
        padding-left: 15px;
    }
    /* contact */
    .request_text {
        font-size: 25px;
    }
}
@media screen and (max-width: 1025px) {
    h2 {
        padding: 0 0 5px 35px;
    }
    h3 {
        max-width: 800px;
        padding: 90px 0 5px 20px;
    }
    .overview_wrap dl {
        max-width: 750px;
    }
    .text_detail {
        max-width: 750px;
    }
}
@media screen and (max-width: 978px) {
    h2 {
        max-width: 730px;
        padding: 0 0 5px 20px;
    }
    h3 {
        max-width: 730px;
        padding: 90px 0 5px 20px;
    }
    .overview_wrap dt {
        padding: 15px 0 15px 30px;
    }
    .overview_wrap dl {
        max-width: 680px;
    }
    .text_detail {
        max-width: 680px;
    }
}
@media screen and (max-width: 950px) {
    .sub,
    .text,
    .overview_wrap dt,
    .overview_wrap dd,
    .home_back,
    .request_sub {
        font-size: 2.1vw;
    }
    h2 {
        font-size: 2.3vw;
        max-width: 700px;
        padding: 0 0 5px 20px;
    }
    h3 {
        font-size: 2.3vw;
        max-width: 700px;
        padding: 90px 0 5px 20px;
    }
    .overview_wrap dt {
        padding: 15px 0 15px 30px;
    }
    .overview_wrap dl {
        max-width: 650px;
    }
    .text_detail {
        max-width: 630px;
    }
    .capture_bottom {
        max-width: 590px;
        margin: 0 auto;
    }
    .lp_pc {
        max-width: 70%;
    }
}
@media screen and (max-width: 830px) {
    .logo_wrap img {
        width: 114px;
    }
    /* work detail */
    h2,
    .text_detail,
    h3 {
        position: relative;
        z-index: 2;
    }
    .overview_wrap dt {
        padding: 15px 0 15px 30px;
        position: relative;
        z-index: 2;
    }
    .overview_wrap dl {
        max-width: 620px;
        position: relative;
        z-index: 2;
    }
    .sub {
        padding-left: 3px;
    }
    .work_overview {
        margin-left: 45px;
    }
}

@media screen and (max-width: 767px) {
    /* view page */
    .logo_img {
        margin-top: 8px;
    }
    /* //// */
    .logo_img img {
        max-width: 121px;
        margin-bottom: 18px;
        margin-top: 15px;
        position: relative;
        z-index: 4;
    }
    /* main visual */
    .work_detail {
        margin-top: 0;
    }
    .work_pic {
        max-width: 60%;
        position: relative;
        z-index: 3;
    }
    /* work detail */
    .text_detail {
        width: 80%;
    }
    .work_overview {
        margin-left: 0;
    }
    .request_text {
        font-size: 24px;
    }
    .important_work {
        display: inline-block;
        padding: 0 10px 0 30px;
        box-sizing: border-box;
    }
    .overview_wrap dt {
        padding: 15px 10px 15px 30px;
    }
    .capture_bottom {
        max-width: 500px;
        padding: 0 10px 0 80px;
        position: relative;
        z-index: 2;
    }
    .lp_pc {
        max-width: 70%;
    }
    .capture_pic {
        max-width: 500px;
    }
    .salon_pic {
        max-width: 75%;
        padding: 0 10px 0 70px;
        position: relative;
        z-index: 2;
    }
}
